<!-- start page title -->
<app-pagetitle title="Tableau de bord" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->
<div class="row">
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="mb-3 lh-1 d-block font-size-16" style="font-weight: bold;">Budgets</span>
                        <h4 class="mb-3">
                            {{budgets?.length}}
                        </h4>
                    </div>

                    <div class="col-6">
                        
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="ms-1 font-size-13">Enregistré{{ budgets?.length > 1 ? "s" :"" }} dans le système</span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->

    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="mb-3 lh-1 d-block font-size-16" style="font-weight: bold;">Sources de revenus</span>
                        <h4 class="mb-3">
                            {{incomes?.length}}
                        </h4>
                    </div>
                    <div class="col-6">
                        
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="ms-1 font-size-13">Enregistrée{{ incomes?.length > 1 ? "s" :"" }} dans le système</span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col-->

    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="mb-3 lh-1 d-block font-size-16" style="font-weight: bold;">Charges fixes</span>
                        <h4 class="mb-3">
                            {{fixed_charges?.length}}
                        </h4>
                    </div>
                    <div class="col-6">
                       
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="ms-1 font-size-13">Enregistrée{{ fixed_charges?.length > 1 ? "s" :"" }} dans le système</span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-xl-3 col-md-6">
        <!-- card -->
        <div class="card card-h-100">
            <!-- card body -->
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-6">
                        <span class="mb-3 lh-1 d-block font-size-16" style="font-weight: bold;">Charges variables</span>
                        <h4 class="mb-3">
                            {{variables_charges?.length}}
                        </h4>
                    </div>
                    <div class="col-6">
                       
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="ms-1 text-muted font-size-13">Enregistrée{{ variables_charges?.length > 1 ? "s" :"" }} dans le système</span>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row-->

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Prévisions - Dépenses de l'année {{ year }}</h4>
            </div>
            <div class="card-body">
                <apx-chart class="apex-charts" dir="ltr" [series]="prevision_expense.series"
                    [chart]="prevision_expense.chart" [plotOptions]="prevision_expense.plotOptions"
                    [yaxis]="prevision_expense.yaxis" [grid]="prevision_expense.grid" [tooltip]="prevision_expense.tooltip"
                    [stroke]="prevision_expense.stroke" [dataLabels]="prevision_expense.dataLabels"
                    [xaxis]="prevision_expense.xaxis" [colors]="prevision_expense.colors" [fill]="prevision_expense.fill">
                </apx-chart>
            </div>
        </div>
        <!--end card-->
    </div>
</div>
