<!-- start page title -->
<app-pagetitle title="Liste des sources de revenus"
    [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row align-items-center">
    <div class="col-md-6">
        <div class="mb-3">
            <h5 class="card-title"> <span class="text-muted fw-normal ms-2">{{
                    incomes.length }} enregistrements</span></h5>
        </div>
    </div>

    <div class="col-md-6">
        <div
            class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
            <div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active"
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            title="List"><i class="bx bx-list-ul"></i></a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="/apps/user-grid"
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Grid"><i class="bx bx-grid-alt"></i></a>
                    </li> -->
                </ul>
            </div>
            <div>
                <a href="javascript:void(0);" class="btn btn-light"
                    (click)="openModal(content, false)"><i class="bx bx-plus me-1"></i>
                    Nouveau</a>
            </div>
            <ng-template #content role="document" let-modal>
                <div class="modal-header">
                    <div *ngIf="is_processing" class="spinner-border text-primary m-1" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <h5 class="modal-title mt-0">{{ (!to_edit) ? 'Ajout' : 'Modification' }} d'une source de revenu</h5>
                    <button type="button" class="btn-close" aria-hidden="true"
                        (click)="modal.dismiss('Cross click')"></button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="saveIncome()"
                        [formGroup]="incomeForm">
                        <div class="row">
                            <input type="hidden" formControlName="id">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="control-label">Désignation <span
                                            class="required_color">*</span></label>
                                    <input class="form-control"
                                        placeholder="Entrer la désignation" type="text"
                                        formControlName="label"
                                        [ngClass]="{'is-invalid': incomeForm.get('label')?.touched && !incomeForm.get('label')?.valid}" />
                                   
                                        @if(incomeForm.get('label')?.touched &&
                                    !incomeForm.get('label')?.valid){
                                    <div class="invalid-feedback">
                                        @if(incomeForm.get('label')?.touched
                                        &&
                                        incomeForm.get('label')?.hasError('required')){
                                        <span>La désignation est requise.</span>}

                                        @if(incomeForm.get('label')?.touched
                                        &&
                                        incomeForm.get('label')?.hasError('minlength')){
                                        <span>Le nombre de caractère minimum est
                                            4.</span>}

                                        @if(incomeForm.get('label')?.touched
                                        &&
                                        incomeForm.get('label')?.hasError('maxlength')){
                                        <span>Le nombre de caractère maximum est
                                            50.</span>}
                                    </div>}
                                </div>


                            </div>
                        </div>
                        <div class="text-end ">
                            <button type="button"
                                style="margin-right: 10px !important;"
                                (click)="resetForm()"
                                class="btn btn-danger waves-effect waves-light">Annuler</button>
                            <button type="submit"
                                class="btn btn-success waves-effect waves-light"
                                [disabled]="!incomeForm.valid || is_processing">{{ (!to_edit) ? 'Ajouter' : 'Modifier' }}</button>
                        </div>
                    </form>
                </div>
            </ng-template>
           
        </div>

    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-sm-12">

        <!-- Table -->
        <div class="table-responsive">
            <table ngxUiLoaderBlurred [loaderId]="'loader-spin'"
                class="table table-striped align-middle datatable dt-responsive table-check nowrap datatables"
                style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">

                <thead>
                    <tr>
                        <th style="width: 5%">#</th>
                        <th style="width: 60%">Désignations</th>
                        <th style="width: 15%">Statuts</th>
                        <th style="width: 15%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container>
                        <tr>
                            <td colspan="4">Aucune source de revenus trouvée.</td>
                        </tr>
                    </ng-container>
                    <tr
                        *ngFor="let income of incomes | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                        <td>
                            {{i + 1}}
                        </td>
                        <td>
                            {{income.label}}
                        </td>
                        <td>
                            <span
                                class="badge bg-{{income.status ? 'success' : 'danger'}} ms-1">{{income.status
                                ? 'Actif' : 'Inactif'}}</span>
                        </td>
                        <td>
                            <div class="dropdown" ngbDropdown>
                                <button
                                    class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle"
                                    type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false" ngbDropdownToggle>
                                    <i
                                        class="bx bx-dots-horizontal-rounded"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end"
                                    ngbDropdownMenu>
                                    <li><a class="dropdown-item" (click)="openModal(content, true, income)"
                                            >Modifier</a></li>
                                    <li><a class="dropdown-item" (click)="confirm(income)"
                                            >Supprimer</a></li>
                                </ul>
                            </div>
                        </td>

                    </tr>
                    
                </tbody>
            </table>
            <div class="pagination-style">
                <pagination-controls previousLabel="Précédent"
                    nextLabel="Suivant"
                    (pageChange)="p = $event"></pagination-controls>

            </div>

            <ngx-ui-loader overlayColor="rgba(225,220,220,0.8)" [bgsOpacity]="3" [loaderId]="'loader-spin'"></ngx-ui-loader>

        </div>
        <!-- End table -->

    </div>
</div>
