<!-- start page title -->
<app-pagetitle title="Mes enveloppes ({{ envelopes.length }})"
    [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="row">
    <div class="col-sm-12">

        <!-- Table -->
        <div class="table-responsive">
            <table ngxUiLoaderBlurred [loaderId]="'loader-spin'"
                class="table table-striped align-middle datatable dt-responsive table-check nowrap datatables"
                style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">

                <thead>
                    <tr>
                        <th style="width: 10%">#</th>
                        <th>Catégorie</th>
                        <th>Solde</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="envelopes?.length === 0">
                        <tr>
                            <td colspan="6">Aucune enveloppes
                                trouvée.</td>
                        </tr>
                    </ng-container>
                    <tr
                        *ngFor="let enveloppe of envelopes | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                        <td>
                            {{i + 1}}
                        </td>
                        <td>
                            {{ enveloppe.category?.designation }}
                        </td>
                       
                        <td>
                            {{enveloppe.envelope_amount | currency: 'XOF'}}
                        </td>


                    </tr>

                </tbody>
            </table>
            <div class="pagination-style">
                <pagination-controls previousLabel="Précédent"
                    nextLabel="Suivant"
                    (pageChange)="p = $event"></pagination-controls>

            </div>

            <ngx-ui-loader overlayColor="rgba(225,220,220,0.8)" [bgsOpacity]="3"
                [loaderId]="'loader-spin'"></ngx-ui-loader>

        </div>
        <!-- End table -->

    </div>
</div>
