.solde_positif {
    color: green;
    font-weight: 500;
    font-size: medium;
}

.solde_negatif {
    color: red;
    font-weight: 500;
    font-size: medium;
}

.solde_nul {
    color: black;
    font-weight: 500;
    font-size: medium;
}
