<!-- start page title -->
<app-pagetitle title="Détails d'un budget "
    [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div>
                        <h5 class="card-title">{{ budget?.month?.label }} {{
                            budget?.year_budget }}</h5>
                    </div>
                </div>

                <div class="col-md-6">
                    <div
                        class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">

                        <div>
                            <button type="button" *ngIf="!budget?.is_closed"
                                (click)="openExpenseModal(contentExpense)"
                                class="btn btn-primary waves-effect waves-light"><i
                                    class="bx bx-plus me-1"></i> Ajouter
                                dépense</button>
                        </div>

                    </div>

                </div>
            </div>

        </div><!-- end card header -->

        <div class="card-body">
            <!-- Nav tabs -->
            <ul ngbNav #customNav="ngbNav" [activeId]="1"
                class="nav-tabs nav-tabs-custom nav-justified">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>
                        <span class="d-block d-sm-none"><i
                                class="fas fa-home"></i></span>
                        <span class="d-none d-sm-block">Informations
                            générales</span>
                    </a>
                    <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="InfoGen"></ng-template>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>
                        <span class="d-block d-sm-none"><i
                                class="far fa-user"></i></span>
                        <span class="d-none d-sm-block">Sources de
                            revenus</span>
                    </a>
                    <ng-template ngbNavContent>
                        <ng-template
                            [ngTemplateOutlet]="IncomesTab"></ng-template>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink>
                        <span class="d-block d-sm-none"><i
                                class="far fa-envelope"></i></span>
                        <span class="d-none d-sm-block">Dépenses par
                            catégorie</span>
                    </a>
                    <ng-template ngbNavContent>
                        <ng-template
                            [ngTemplateOutlet]="ExpensesTab"></ng-template>
                    </ng-template>
                </li>
                <li [ngbNavItem]="4">
                    <a ngbNavLink>
                        <span class="d-block d-sm-none"><i
                                class="fas fa-cog"></i></span>
                        <span class="d-none d-sm-block">Vue graphique</span>
                    </a>
                    <ng-template ngbNavContent>
                        <ng-template
                            [ngTemplateOutlet]="GraphicTab"></ng-template>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="customNav" class="text-muted"></div>
        </div><!-- end card-body -->
    </div><!-- end card -->
</div>

<ng-template #InfoGen>
    <div class="row p-3">
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Montant global</h5>
                    <p class="card-text font-size-18 text-end"
                        style="font-weight: 500;">{{ budget?.global_amount |
                        currency: 'XOF' }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Montant budgétisé</h5>
                    <p class="card-text font-size-18 text-end"
                        style="font-weight: 500;">{{ budget?.total_incomes |
                        currency: 'XOF' }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Montant non budgétisé</h5>
                    <p class="card-text font-size-18 text-end"
                        style="font-weight: 500;">{{ budget?.remaining_amount |
                        currency: 'XOF'
                        }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card border-danger">
                <div class="card-body">
                    <h5 class="card-title">Total des dépenses</h5>
                    <p class="card-text font-size-18 text-end"
                        style="font-weight: 500;">{{ budget?.total_expenses |
                        currency: 'XOF' }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card border-success">
                <div class="card-body">
                    <h5 class="card-title">Solde</h5>
                    <p class="card-text font-size-18 text-end"
                        style="font-weight: 500;">{{ budget?.balance | currency:
                        'XOF' }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Date de création</h5>
                    <p class="card-text font-size-18 text-end"
                        style="font-weight: 500;">{{ budget?.created_at | date:
                        'dd MMMM yyyy' }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <h5 class="mb-3">Catégories de dépenses associées à ce budget :</h5>
        <div class="px-2">
            <ng-container *ngIf="categories?.length == 0">
                <p>Aucune pour le moment !</p>
            </ng-container>
            <ng-container *ngFor="let categ of categories">
                <span class="font-size-20 pe-1"><span
                        class="badge bg-light-subtle text-black"><i
                            class="mdi mdi-tag-outline"></i>{{ categ
                        }}</span></span>
            </ng-container>
        </div>
    </div>

</ng-template>

<div class="mt-5 mb-2">
    <div class="text-end ">
        <button type="button"
            style="margin-right: 10px !important;"
            (click)="confirmCloseBudget()"
            class="btn btn-danger waves-effect waves-light">Clôturer le budget</button>
    </div>
</div>

<!-- Tab Content -->
<ng-template #IncomesTab>
    <div class="p-3">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="mb-3">
                    <h3 class="card-title text-black">Revenu net disponible : {{
                        budget?.global_amount | currency: 'XOF' }}</h3>
                </div>
            </div>

            <div class="col-md-6">
                <div
                    class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">

                    <div>
                        <button type="button" (click)="displayModal(true)"
                            class="btn btn-primary waves-effect waves-light"><i
                                class="bx bx-plus me-1"></i> Ajouter
                            revenu</button>
                    </div>

                </div>

            </div>
        </div>

        <div class="table-responsive">
            <table class="table mb-0">

                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>Libellé</th>
                        <th>Montant</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let income of incomes; let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td> {{ income?.income?.label }}</td>
                        <td> {{ income?.ib_amount | currency: 'XOF'}}</td>
                        <td> <button type="button" (click)="confirmDeleteIncomeBudget(income.income?.label, income.id)"
                                class="btn btn-danger waves-effect waves-light">Supprimer</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</ng-template>

<ng-template #ExpensesTab>
    <!-- Table -->
    <div class="table-responsive p-2">
        <table
            class="table table-striped align-middle datatable dt-responsive table-check nowrap datatables"
            style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">

            <thead>
                <tr>
                    <th style="width: 5%">#</th>
                    <th>Charges</th>
                    <th>Type de charge</th>
                    <th>Prévision</th>
                    <th>Montant dépensé</th>
                    <th>Solde</th>
                    <th>Aide Enveloppe</th>
                    <th>Télécharger</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="repartitions?.length === 0">
                    <tr>
                        <td colspan="8">Aucune catégorie de dépenses
                            trouvée.</td>
                    </tr>
                </ng-container>
                <tr
                    *ngFor="let repartition of repartitions | paginate: {id: 'tableCategories', itemsPerPage: 10, currentPage: p }; let i = index">
                    <td>
                        {{i + 1}}
                    </td>
                    <td>
                        {{repartition.rep_designation}}
                    </td>
                    <td>
                        {{ repartition.category?.type }}
                    </td>

                    <td>
                        {{ repartition.prevision | currency: 'XOF' }}
                    </td>
                    <td style="color: red; font-weight: bold;" class="font-size-16">
                        {{ repartition.amount_used | currency: 'XOF' }}
                    </td>
                    <td>
                        {{ (repartition.prevision + repartition.envelope_help) - repartition.amount_used | currency: 'XOF' }}
                    </td>
                    <td>
                        {{ repartition.envelope_help | currency: 'XOF' }}
                    </td>
                    <!-- <td style="width: 12rem;"
                        [ngClass]="{'solde_positif': (repartition?.rep_amount - repartition?.sum_amount_used) > 0,
                        'solde_negatif': (repartition?.rep_amount - repartition?.sum_amount_used) < 0,
                        'solde_nul': (repartition?.rep_amount - repartition?.sum_amount_used) == 0 }">
                        {{ (repartition?.rep_amount -
                        repartition?.sum_amount_used) | currency: 'XOF' }}
                    </td> -->
                    <td>
                        <button type="button"
                            class="btn btn-soft-light btn-sm w-xs waves-effect btn-label waves-light"><i
                                class="bx bx-download label-icon"></i>
                            Pdf</button>

                    </td>

                    <td>
                        <button type="button"
                            (click)="detailExpensesByCategory(exlargeModal, repartition)"
                            class="btn btn-info waves-effect waves-light">Détails</button>
                    </td>

                </tr>

            </tbody>
        </table>
        <div class="pagination-style">
            <pagination-controls previousLabel="Précédent" id="tableCategories"
                nextLabel="Suivant"
                (pageChange)="p = $event"></pagination-controls>
        </div>

    </div>
    <!-- End table -->

</ng-template>

<ng-template #GraphicTab>

</ng-template>

<!-- Détail expenses par category -->
<ng-template #exlargeModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Dépenses de la catégorie : {{ repartition_expense.rep_designation }}</h5>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table
                class="table table-striped align-middle datatable dt-responsive table-check nowrap datatables"
                style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">

                <thead>
                    <tr>
                        <th style="width: 5%">#</th>
                        <th>Date</th>
                        <th>Quantité</th>
                        <th>Prix Unitaire</th>
                        <th>Montant</th>
                        <th>Document</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="repartition_expense.expenses.length === 0">
                        <tr>
                            <td colspan="7">Aucune ligne
                                trouvée.</td>
                        </tr>
                    </ng-container>
                    <tr
                        *ngFor="let expense of repartition_expense.expenses | paginate: {id:'tableExpenses', itemsPerPage: 10, currentPage: p }; let i = index">
                        <td>
                            {{i + 1}}
                        </td>
                        <td>
                            {{expense?.expense_date | date:
                                'dd-MM-yyyy'}}
                        </td>
                       <td>
                        {{(expense?.quantity == null) ? "" :
                                        expense?.quantity}}
                                        {{(expense?.management_unit_id == null) ? "" : expense?.management_unit_id}}
                       </td>
                       <td>
                        {{(expense?.unit_price == null) ? "-" :
                                        expense?.unit_price}}
                       </td>

                       <td>
                        {{expense?.exp_amount | currency:
                            'XOF'}}
                       </td>

                       <td>

                       </td>

                       <td>

                       </td>

                    </tr>

                </tbody>
            </table>
            <div class="pagination-style">
                <pagination-controls previousLabel="Précédent" id="tableExpenses"
                    nextLabel="Suivant"
                    (pageChange)="p2 = $event"></pagination-controls>

            </div>

        </div>
            

    </div>
</ng-template>

<!-- Add expense form -->
<ng-template #contentExpense let-modal>
    <div class="modal-header">
        <div *ngIf="is_processing"
            class="spinner-border text-primary m-1" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <h5 class="modal-title mt-0">Ajout d'une dépense ({{
            budget?.month?.label }} {{ budget?.year_budget }})</h5>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <form novalidate (ngSubmit)="addExpense()" [formGroup]="expense_form">
            <div class="row">

                <div class="row">
                    <input type="hidden" formControlName="budget_id">
                    <div class="mb-3">
                        <label class="control-label">Charge
                            <span
                                class="required_color">*</span></label>
                        <select
                            class="form-control form-select"
                            formControlName="repartition_id" (change)="getRepId()"
                            [ngClass]="{'is-invalid': expense_form.get('repartition_id')?.touched && !expense_form.get('repartition_id')?.valid}">

                            <option *ngFor="let item of repartitions"
                                value="{{item.repartition_id}}">{{item.rep_designation}}</option>
                        </select>

                        @if(expense_form.get('repartition_id')?.touched &&
                        !expense_form.get('repartition_id')?.valid){
                        <div class="invalid-feedback">
                            @if(expense_form.get('repartition_id')?.touched
                            &&
                            expense_form.get('repartition_id')?.hasError('required')){
                            <span>La charge est
                                requise.</span>}
                        </div>}
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="expense_date">Date de
                                dépense <span
                                    class="required_color">*</span></label>
                            <input id="expense_date" type="date"
                                formControlName="expense_date"
                                class="form-control"
                                max="{{today | date:'yyyy-MM-dd'}}"
                                [ngClass]="{'ng-dirty ng-invalid' : expense_form.get('expense_date')?.touched && !expense_form.get('expense_date')?.valid}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for>Avec détail ? </label>
                            <div class="form-check form-switch form-switch-md">
                                <input type="checkbox" class="form-check-input"
                                    (change)="getValueOfSwith($event)">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="with_detail">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="quantity">Quantité
                                <span
                                    class="required_color">*</span></label>
                            <input type="number" formControlName="quantity"
                                class="form-control" min="1" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="unit_price">Prix
                                Unitaire </label>
                            <input type="number" formControlName="unit_price"
                                class="form-control" min="5" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="control-label">Montant
                                <span *ngIf="!with_detail"
                                    class="required_color">*</span></label>
                            <input class="form-control"
                                placeholder="Entrer le montant"
                                type="number"
                                formControlName="exp_amount"
                                [ngClass]="{'is-invalid': !with_detail &&  expense_form.get('exp_amount')?.touched && !expense_form.get('exp_amount')?.valid}" />

                            @if(expense_form.get('exp_amount')?.touched &&
                            !expense_form.get('exp_amount')?.valid){
                            <div class="invalid-feedback">
                                @if(expense_form.get('exp_amount')?.touched
                                &&
                                expense_form.get('exp_amount')?.hasError('required')){
                                <span>Le montant de la charge est
                                    requis.</span>}

                            </div>}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label"
                                for="management_unit_id">Unité de gestion
                            </label>
                            <select
                                class="form-control form-select"
                                formControlName="management_unit_id">

                                <option *ngFor="let mng of management_units"
                                    value="{{mng.id}}">{{mng.label}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3">
                        <label class="control-label">Commentaire</label>
                        <textarea class="form-control" rows="2"
                            style="resize: none;"
                            placeholder="Entrer le commentaire"
                            type="text"
                            formControlName="comment"></textarea>

                    </div>

                </div>

                <div class="row">
                    <div class="mb-3">
                        <label class="control-label">Joindre un
                            fichier</label><br>
                        <input type="file" (change)="uploadInvoice($event)"
                            accept="application/pdf,image/*" />
                    </div>

                </div>

                <div class="text-end mt-3">
                    <button type="button"
                        style="margin-right: 10px !important;"
                        (click)="closeForm()"
                        class="btn btn-danger waves-effect waves-light">Annuler</button>
                    <button
                        class="btn btn-success waves-effect waves-light"
                        type="submit"
                        [disabled]="!expense_form.valid || is_processing">Ajouter</button>
                </div>

            </div>

        </form>

    </div>
</ng-template>