<h1 style="padding-top: 3%; text-align: center;">SAN DISTRIBUTION services</h1>

<div class="row" style="padding: 3% !important;">

    <div class="col-md-6 col-xl-3">

        <div class="card">
            <img class="card-img-top img-fluid"
                src="assets/images/logistique/conteneur.png"
                alt="Card image cap">
            <div class="card-body">
                <h4>Suivi des conteneurs</h4>
                <p class="card-text">Suivez en temps réel, les procédures de la
                    logistique pour un bon suivi des conteneurs
                    du founisseur vers les magasins SAN.
                </p>
                <a [routerLink]="['/']"
                    class="btn btn-primary waves-effect waves-light w-100">Accéder</a>
            </div>
        </div>

    </div>

    <div class="col-md-6 col-xl-3">

        <div class="card">
            <img class="card-img-top img-fluid"
                src="assets/images/price-watch/price-analysis.png"
                alt="Card image cap">
            <div class="card-body">
                <h4>Suivi des prix concurrents</h4>
                <p class="card-text">Disposez en temps, des informations sur les prix concurrents et 
                    des produits disponibles avec une possibilité d'analyse. </p>
                <a href="javascript: void(0);"
                    class="btn btn-primary waves-effect waves-light w-100">Accéder</a>
            </div>
        </div>

    </div>

    <div class="col-md-6 col-xl-3">

        <div class="card">
            <img class="card-img-top img-fluid"
                src="assets/images/achats/achat-local.jpg" alt="Card image cap">
            <div class="card-body">
                <h4>Suivi des achats locaux</h4>
                <p class="card-text">Suivez en temps réel, tous vos achats locaux de même que le paiement
                    de vos fournisseurs locaux.
                </p>
                <a href="javascript: void(0);"
                    class="btn btn-primary waves-effect waves-light w-100">Accéder</a>
            </div>
        </div>

    </div>

</div>
